.deployment {
    &__wrapper {
        position: relative;
    }
    &__title {
        position: absolute;
        z-index: 1;
        top: 80px;
        left: 50%;
        transform: translateX(-50%);
        width: 380px;
        font-size: 30px;
        line-height: 1.2;
        font-weight: 600;
        text-align: center;
        color: #ffffff;
    }
    &-items {
        display: flex;
        justify-content: center;
        min-height: 580px;
        &__item {
            position: relative;
            width: 50%;
            &_left {
                text-align: right;
                background: url('../img/deployment-cloud.jpg') center (center/cover) no-repeat;
            }
            &_right {
                text-align: left;
                background: url('../img/deployment-server.jpg') center (center/cover) no-repeat;
            }
        }
        &__descr {
            position: absolute;
            z-index: 1;
            top: 232px;
            padding-top: 34px;
            max-width: 600px;
            &_left {
                right: 82px;
            }
            &_right {
                left: 82px;
            }
        }
        &__square {
            position: absolute;
            top: 232px;
            z-index: 1;
            width: 167px;
            height: 167px;
            background: rgba($color: #00c2f0, $alpha: .3);
            &_left {
                right: 45px;
            }
            &_right {
                left: 45px;
            }
        }
        &__title {
            font-size: 30px;
            text-transform: uppercase;
            font-weight: 600;
            color: #ffffff;
        }
        &__text {
            margin-top: 10px;
            font-size: 18px;
            font-weight: 300;
            color: #ffffff;
        }
    }
}
@media (max-width: 1199px) {
    .deployment {
        &-items {
           &__title {
               font-size: 26px;
           }
           &__text {
               font-size: 16px;
           }
        }
    }
}
@media (max-width: 991px) {
    .deployment {
        &-items {
            &__square{
                &_left {
                    right: 25px;
                }
                &_right {
                    left: 25px;
                }
            }
            &__descr {
                padding-top: 22px;
                &_left {
                    right: 42px;
                }
                &_right {
                    left: 42px;
                }
            }
            &__title {
                font-size: 22px;
            }
            &__text {
                font-size: 14px;
            }
        }
    }
}
@media (max-width: 767px) {
    .deployment {
        &__title {
            position: relative;
            top: 0;
            margin-top: 20px;
            color: $text-color;
        }
        &-items {
            flex-direction: column;
            justify-content: start;
            margin-top: 40px;
            min-height: 340px;
            &__item {
                min-height: 400px;
                text-align: left;
                &_left {
                    width: 100%;
                }
                &_right {
                    width: 100%;
                }
            }
            &__square {
                top: 120px;
                &_left {
                    left: 25px;
                }
                &_right {
                    left: 25px;
                }
            }
            &__descr {
                top: 120px;
                max-width: 400px;
                &_left {
                    left: 62px;
                }
                &_right {
                    left: 62px;
                }
            }
            &__title {
                font-size: 24px;
            }
            &__text {
                font-size: 16px;
            }
        }
    }
}
@media (max-width: 575px) {
    .deployment {
        &__title {
            width: 100%;
        }
        &-items {
            &__square {
                top: 80px;
                width: 130px;
                height: 130px;
            }
            &__descr {
                top: 80px;
                &_left {
                    left: 42px;
                }
                &_right {
                    left: 42px;
                }
            }
        }
    }
}