.footer {
    padding: 50px 0 40px 0;
    background: #1c87a0;
    &__columns {
        display: flex;
        justify-content: space-between;
    }
    &__column {
        max-width: 380px;
    }
    &__logo {
        margin-top: 10px;
    }
    &__title {
        font-size: 16px;
        font-weight: 600;
        color: #ffffff;
    }
    &__text {
        margin-top: 10px;
        color: #ffffff;
        font-size: 14px;
        line-height: 1.36;
        font-weight: 300;
        a {
            display: block;
            font-size: 14px;
            font-weight: 300;
            color: #ffffff;
        }
    }
    &__divider {
        margin: 44px 0 36px 0;
        height: 1px;
        background: rgba($color: #ffffff, $alpha: .3);
    }
    &__copyright {
        margin: 0 auto;
        font-size: 13px;
        font-weight: 300;
        text-align: center;
        color: #ffffff;
    }
}
@media (max-width: 991px) {
    .footer {
        &__columns {
            flex-wrap: wrap;
        }
        &__column {
            margin-top: 20px;
            width: 45%;
        }
    }
}
@media (max-width: 575px) {
    .footer {
        &__columns {
            flex-direction: column;
        }
        &__column {
            margin-top: 20px;
            width: 100%;
        }
    }
}